{% extends 'base.html' %}

{% block head %}
    <style>
        .message_title {
              font-size: 16px;
              font-style: Black;
              font-weight: bold;
              text-decoration: underline;
              }
        .current_user {
             color: transparent;
        }
    </style>
    {{ super() }}
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/chatroom.js')}}"></script>

{% endblock %}

{% block page_content %}


      <div class="row">
        <div class="col s9">
          <div class="card">
            <div class="card-content " >

              <ul class="collection " id="messages"><span id="stuff" class="badge red white-text"></span>

              </ul>
            </div>
              <div class="card-content" id="card"><span id="type_span" class="badge blue white-text"></span>
                <span>Me: @</span><span id="current_user">{{user}}</span>

                 <input placeholder="Send chat" type="text" id="mymessage">

              </div>

            <div class="card-action">
                <button class="btn" id="sendbutton">Send</button>
                <a href="{{url_for('main.dashboard')}}" class="btn red darken-4" id="closebutton">Leave room</a>
                <td><button class="btn blue-grey darken-3" id="copy-button" data-clipboard-text="{{room_id}}">Copy Room Id  </button> </td>

            </div>
          </div>
        </div>

        <div class="col s3">
            <div class="card-panel">
              <table class="bordered">
                <thead>
                  <tr>
                      <th data-field="id">Users Online</th>
                  </tr>
                </thead>
                <tbody id="user_online">
                </tbody>
              </table>
            </div>
        </div>

      </div>

{% endblock %}