{% extends 'base.html' %}

{% block page_content %}

      <div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content black-text">
              <span class="card-title"> Username: {{user}}</span>
            </div>

               <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s6"><a href="#create">Create Room</a></li>
                    <li class="tab col s6"><a href="#save">Save Room</a></li>

                  </ul>
                </div>

                <div id="create" class="col s6">
                    <div class="container">
                        <form id="newRoomForm" class="col s12" action={{url_for('main.newroom')}} method="POST">
                            {{ new_room_form.csrf_token }}

                            <div class="row">
                                <div class="input-field col s12 black-text">
                                    {{new_room_form.room_name}}

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 black-text">
                                    {{new_room_form.submit(class="btn-large red darken-4")}}
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div id="save" class="col s6">
                    Save room
                </div>

                </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content black-text">
              <span class="card-title">My Rooms</span>
            </div>
            <div>
                <table>
                <thead>
                  <tr>
                      <th data-field="id">Room Name</th>
                      <th data-field="name"></th>
                      <th data-field="name"></th>

                  </tr>
                </thead>
                 <tbody id="roomTable">
                 {% for user in room_list %}
                  <tr>
                    <td>{{user['name'] }}</td>
                    <td><a href="chat/{{user['id']}}" class="btn">Enter Room</a></td>
                    <td><button class="btn blue-grey darken-3" id="copy-button" data-clipboard-text="http://localhost:5000/chat/{{user['id']}}">
                    Copy Link </button> </td>
                    <td><a href="chat/delete/{{user['id']}}" class="btn red darken-4">Delete Room</a></td>
                  </tr>
                 {% endfor %}
                 </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content black-text">
              <span class="card-title">Saved Rooms</span>
            </div>
            <div>
                <table>
                <thead>
                  <tr>
                      <th data-field="id">Room Name</th>
                      <th data-field="name"></th>
                      <th data-field="name"></th>
                  </tr>
                </thead>
                 <tbody id="saverRoomTable">
                 </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>


    <script type="text/javascript" charset="utf-8">
        $('#newRoomForm').on('submit', function(e) {
            e.preventDefault();
            console.log('prevented')
            $.ajax({
                type:'POST',
                url: '/newRoom',
                data: {
                      room_name: $('#room_name').val()
                }
            }).done(function(data){

             $('#roomTable').append(data);
             $('#room_name').val('');
            });
        });

    </script>

{% endblock %}