{% extends 'base.html' %}


{% block page_content %}


      <div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content black-text">
              <span class="card-title">{{user}}</span>


            </div>
            <div class="card-action">
              <a class="btn" href="#">Create room</a>
              <a class="btn" href="#">Join room</a>
              <a class="btn" href="#">Setting</a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}